.DS_Store
!persistent/reset.sh
persistent/certs/*
!persistent/certs
!persistent/certs/.gitkeep
persistent/gitlab/config/*
!persistent/gitlab/config
!persistent/gitlab/config/.gitkeep
persistent/gitlab/data/*
!persistent/gitlab/data
!persistent/gitlab/data/.gitkeep
persistent/gitlab/logs/*
!persistent/gitlab/logs
!persistent/gitlab/logs/.gitkeep
persistent/runners/node1/*
!persistent/runners/node1
!persistent/runners/node1/.gitkeep
persistent/runners/node2/*
!persistent/runners/node2
!persistent/runners/node2/.gitkeep
persistent/runners/node3/*
!persistent/runners/node3
!persistent/runners/node3/.gitkeep
persistent/runners/node4/*
!persistent/runners/node4
!persistent/runners/node4/.gitkeep
!.gitkeep